.icon {
  background-image: url('../../public/genshi.jpg');
  background-size: contain;
  height: 30vh;
  width: 30vh;
  border-radius: 50%;
  cursor: pointer;
}
.icon:active {
  background-image: url('../../public//mabataki.png');
}
